<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades-de-Aprendizaje-Alfonso-Garibay/blob/main/Python_for_Data_Science_(IBM)_Modulo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ALFONSO GARIBAY FLORES A01224167

# Reading Files with Open

One way to read or write a file in Python is to use the built-in open function. The open function provides a File object that contains the methods and attributes you need in order to read, save, and manipulate the file.

The mode argument is optional and the default value is r. In this notebook we only cover two modes:

**r**: Read mode for reading files
**w**: Write mode for writing files

In [ ]:
example1 = "Example1.txt"
file1 = open(example1, "r")

Using the with statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

# Writing Files with Open

We can open a file object using the method write() to save the text file to a list. To write to a file, the mode argument must be set to w.

In [ ]:
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 15
Read nothing

New Location : 0
This is line E

Location after read: 15

In [ ]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

In [ ]:
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

# Loading Data with Pandas

Consider the dataframe df. How would you find the element in the second row and first column?

df.ix[1,0] or df.iloc[1,0]

Will the following code run?

In [ ]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
import pandas as pd

In [ ]:
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df1 = pd.DataFrame(a)
df1

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

In [ ]:
c = df1[['Country','Course']]
c

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [ ]:
b = df1[['Marks']]
b

  Marks
0    85
1    72
2    89
3    76

# Working with and Saving Data with Pandas

Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

What type does the following return: df['a']==1 ?

In [ ]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

What task does the following method perform: df.to_csv("file.csv")?

Save a dataframe to a csv file.

In [ ]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a'].unique()

array([1, 2])

In [ ]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

# Review Questions

What do the following lines of code do?

In [ ]:
with open("Example1.txt","r") as file1:

FileContent=file1.readlines()

print(FileContent)

Read the file "Example1.txt".

What do the following lines of code do?

with open("Example2.txt","w") as writefile:

writefile.write("This is line A\n")

writefile.write("This is line B\n")

Write to the file "Example2.txt".

What do the following lines of code do?

with open("Example3.txt","a") as file1:

file1.write("This is line C\n")

Append the file "Example3.txt".

What is the result of applying the following method df.head() to the dataframe "df"?

Prints the first 5 rows of the dataframe.