# **Module 1**

Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.

In [1]:
print("Hello\nWorld!")

Hello
World!

What is the output of executing the following statement: # print('Hello World!')?

In [2]:
# print('Hello World!')

There is no output as it is a comment.

What is the type of the following: int(1.0)?

Int

Enter the code to convert the number 1 to a Boolean.

In [5]:
bool(1)

True

Numbers = "0123456" How would you obtain the even elements?

In [6]:
Numbers = "0123456" 
Numbers[::2]

'0246'

**Review Questions**

What is the result of the following operation in Python: 3 + 2 * 2

In [7]:
3 + 2 * 2

7

In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [9]:
name = 'Lizz'
print(name[0:2])

Li

In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [10]:
var = '01234567'
print(var[::2])

0246

In Python, what is the result of the following operation '1'+'2'?

In [11]:
'1'+'2'

'12'

Given myvar = 'hello', how would you convert myvar into uppercase?

In [12]:
myvar = 'hello'
myvar.upper()

'HELLO'

# **Module 2**

How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.

In [14]:
A=(0,1,2,3)
A[3]

3

In [15]:
A=(0,1,2,3)
A[-1]

3

Consider the list: B=["a","b","c"]. What is the result of the following B[1:]?

In [17]:
B=["a","b","c"]
B[1:]

['b', 'c']

What is the result of the following lines of code: S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

In [18]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

What is the intersection of set S and U? What is the intersection of set S and U?
S={'A','B','C'}
U={'A','Z','C'}

In [19]:
S={'A','B','C'}
U={'A','Z','C'}
S.intersection(U)

{'A', 'C'}

Consider the following dictionary:
D = {'a':0,'b':1,'c':2}
What is the result of the following: D.values()?

In [21]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

Consider the following dictionary:
D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?

In [23]:
D = {'a':0,'b':1,'c':2}
D['b']

1

**Review Questions**

What is the syntax used to obtain the first element of the tuple:
A = ('a','b','c')

In [24]:
A = ('a','b','c')
A[0]

'a'

After applying the following method, L.append(['a','b']), the following list will only be one element longer.

True

How many duplicate elements can you have in a set?

0. You can only have one unique element in a set.

Consider the following Python dictionary:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} What is the result of the following operation: Dict["D"]?

In [27]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

What is an important difference between lists and tuples?

Lists are mutable, tuples are not.

# Module 3

Select the values of i that produces a True for the following:

In [29]:
1!=0

True

In [31]:
-1!=0

True

In [32]:
100000000!=0

True

What is the output of the following: x='a'

if(x!='a'):

print("This is not a.")

else:

print("This is a.")

"This is a."

What is the output of the following lines of code:

A=[3,4,5]

for a in A:

print(a)

3, 4, 5

What is the output of the following lines of code:

x=3

y=1

while(y!=x):

print(y)

y=y+1

1, 2

What is the value of c after the following block of code is run ?

a=1

def add(b):

return a+b

c=add(10)

11

What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

return sum(x)

Return the total of a variable amount of parameters.

Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

Car(make="Honda",model="Accord",color="blue") Car("Honda","Accord","blue") Car(model="Accord",make="Honda",color="blue")

From the lab, how would you change the data attribute owner_number ?

Utilising the method sell().